.cabecera{
	background-image: url("../images/background.png");
	background-size: cover;
	color: white;
	padding: 20px;
}

.titulo{
	font-size: 70px;
	margin-bottom: 0;
	margin-top: 70px;
}

.resumen{
	font-size: 24px;
	margin-top: 0;
}

.titulo-b{
	font-size: 50px;
	margin-bottom: 20px;
}

.guitarras{
	color: #1F313C;
	margin-bottom: 60px;
}

.guitarras h2{
	font-size: 35px;
}

.menu{
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: 0;
}

.titulo, .guitarras h2{
	font-family: 'Montserrat', sans-serif;
}

body{
	font-family: 'Allerta', sans-serif;
	margin: 0;
}

.logotipo{
	display: inline-block;
	margin-left: 0;
}

.menu li{
	display: inline-block;
	margin-left: 30px;
}

.boton{
	background: #FD324E;
	border-radius: 12px;
	border: none;
	color: white;
	padding: 7px 12px;
	background: linear-gradient(to left, #FE344E, #FF7250);
	cursor: pointer;
	font-size: 18px;
	text-decoration: none;
}

.contenedor{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	position: relative;
}

.derecha{
	float: right;
	position: relative;
	top: -127px;
}

.izquierda{
	float: left;
}

.guitarra{
	border: 1px solid #1F313C;
	margin: 10px 10px 40px 10px;
	padding: 10px;
	border-radius: 8px;
}

.contenedor-guitarra-a{
	padding-left: 20px;
}

.contenedor-guitarra-b{
	margin-left: 370px;
	position: relative;
	bottom: 90px;
}

.footer{
	background: #273B47;
	padding: 50px 10px;
}

.contacto img,
.contacto strong{
	display: block;
}

.contacto a{
	color: white;
	text-decoration: none;
	margin: 10px 10px 10px 0;
}

.contacto{
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	width: 300px;
}

.footer .contenedor{
	display: flex;
	justify-content: space-between;
}

.col1{
	margin-right: 15px;
}

.col2{
	align-items: flex-start;
}

.col1, .col2{
	display: flex;
	flex-direction: column;
}

.formulario{
	display: flex;
	width: 400px;
	color: white;
}

.formulario label, .sexo, .motivo{
	margin-bottom: 10px;
}

.motivo{
	font-size: 12px;
}

.sexo{
	margin-top: 10px;
}

table{
	border-collapse: collapse;
	width: 100%;
}

table, td, th{
	border: 1px solid #273B47;
}

td{
	padding: 20px;
}

th{
	background: #273B47;
	color: white;
	padding: 5px 20px;
	text-align: left;
}

.tabla{
	margin: 50px auto;
}

.menu li:before{
	content: '°';
	font-size: 20px;
	line-height: 20px;
	color: white;
}

.menu a{
	color: white;
	text-decoration: none;
}

.cabecera.portada{
	height: 500px;
}

.col2 .boton{
	margin-top: 15px;
}

.guitarra.b{
	height: 190px;
}

.titulo span{
	text-decoration: underline;
}

input, textarea{
	outline: 0;
}

input:focus, textarea:focus{
	background: lightgray;
}